<style>
  .main-nav {
    height: 100%;
    border: 1px solid green;
    background-color: var(--blue);
    padding: 150px 2px 0;
  }
  
  .main-nav .btn {
    background: var(--blue);
    transition: all .2s;
  }
  
  .main-nav .btn:hover {
    background-color: var(--blue-hover);
  }
</style>


<nav class="main-nav">
  <a href="/" class="btn">Home</a>
  <a href="overdrive.html" class="btn">Overdrive</a>
  <a href="acuity.html" class="btn">Acuity</a>
  <a href="caprica.html" class="btn">Caprica</a>
  <a href="xpression.html" class="btn">Xpression</a>
  <a href="vinten.html" class="btn">Vinten</a>
  <a href="router.html" class="btn">Router Sources</a>
</nav>