<nav class="nav-main">
  <ul class="nav-list" id="nav-list">
    <li class="nav-item"><a href="index.html" class="btn">Home</a></li>
    <li class="nav-item"><a href="overdrive.html" class="btn">Overdrive</a></li>
    <li class="nav-item"><a href="caprica.html" class="btn">Caprica</a></li>
    <li class="nav-item"><a href="acuity.html" class="btn">Acuity</a></li>
    <li class="nav-item"><a href="xpression.html" class="btn">Xpression</a></li>
    <li class="nav-item"><a href="vinten.html" class="btn">Vinten</a></li>
    <li class="nav-item"><a href="router.html" class="btn">Router Sources</a></li>
    <li class="nav-item"><a href="switch.html" class="btn">Switch PCRs</a></li>
  </ul>
</nav>